{% extends "layout.html" %}
{% block body %}
  <div class="wrap">
    <a href="#" class="persona-button" id="signin"><span>Sign in with your Email</span></a>
    <a href="#" class="persona-button dark" id="signout"><span>Sign out of your Email</span></a>
  </div>
  <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
  <script type=text/javascript src="https://login.persona.org/include.js"></script>
  <script type=text/javascript>
    var signinLink = document.getElementById('signin');
    if(signinLink){
      signinLink.onclick = function() { navigator.id.request(); };
    }

    var signoutLink = document.getElementById('signout');
    if(signoutLink){
      signoutLink.onclick = function() { navigator.id.logout(); };
    }
    var currentUser = 'earthling.shruti@gmail.com'
    navigator.id.watch({
      loggedInUser: currentUser,
      onlogin: function(assertion){
        $.ajax({
          type: 'POST',
          url: '/auth/login',
          data: {assertion: assertion},
          success: function(res, status, xhr){console.log(xhr); },
          error: function(res, status, err){
            navigator.id.logout();
            alert("Login failure: " + err);
          }
        });
      },
      onlogout: function(){
        $.ajax({
          type: 'POST',
          url: '/auth/logout',
          success: function(res, status, xhr){ console.log(xhr); },
          error: function(xhr, status, err){ console.log(xhr); alert("Logout failure: " + err); }
        });
      }
    });
  </script>
{% endblock %}
